*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rebeccapurple;

}
.logo img{
    padding: 30px;
}
.pBest{
padding-right: 60px;
display: flex;
gap: 10px;
color: #fff;
}
.pBest span{
    color: #dad3d3;
}
.item{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    background-color: aqua;
}
.item1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.item2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-right: 60px;
}
.item2 button{
padding: 2px 10px;
}
.item2 .Mode{
    padding-right: 8px;
}
.item2 .line{
    width: 2px;
    margin: 10px;
    background-color: black;
    height: 20px;
    
}