*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rebeccapurple;

}
.logo img{
    padding: 30px;
}
.pBest{
padding-right: 30px;
display: flex;
gap: 10px;
color: #fff;
}
.pBest span{
    color: #dad3d3;
}
